SITE_NAME=ARCOMM
SITE_NAME_PUBLIC=ARCOMM
SITE_OP_TIME="1800 Zulu"
SITE_OP_DAY="Saturday"

JR_MIN_AGE=18

STEAM_API_KEY=

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_STORAGE_BUCKET=
GOOGLE_CLOUD_STORAGE_PATH_PREFIX=
GOOGLE_CLOUD_STORAGE_API_URI=

SENTRY_DSN=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=

STEAM_CLIENT_SECRET=
STEAM_REDIRECT_URI=/auth/steamcallback

DISCORD_ARCHUB_WEBHOOK=
DISCORD_STAFF_WEBHOOK=

DISCORD_TOKEN=
DISCORD_SERVER_ID=
DISCORD_MEMBER_ROLE=
DISCORD_TESTER_ROLE=
DISCORD_SENIOR_TESTER_ROLE=
DISCORD_OPERATIONS_ROLE=
DISCORD_STAFF_ROLE=
DISCORD_ADMIN_ROLE=

APP_ENV=local
APP_KEY=base64:y3m5vLcj5h8R767oXGziMzLvuWqROpBG4eJUjhWbHzg=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://www.arcomm.co

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=arcomm
DB_USERNAME=arcomm
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

MAILGUN_DOMAIN=mail.arcomm.co.uk
MAILGUN_SECRET=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
