################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.phpproj
*.suo
*.sln
/nbproject/private/
.phpintel/