@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

body {
    background: #100f0f;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    color: #333;
}

.m0 {margin: 0 !important;}
.p0 {padding: 0 !important;}

.mt-0 {margin-top: 0;}
.mt-1 {margin-top: 0.5rem;}
.mt-2 {margin-top: 1rem;}
.mt-3 {margin-top: 1.5rem;}
.mt-4 {margin-top: 2rem;}
.mt-5 {margin-top: 2.5rem;}

.mr-0 {margin-right: 0;}
.mr-1 {margin-right: 0.5rem;}
.mr-2 {margin-right: 1rem;}
.mr-3 {margin-right: 1.5rem;}
.mr-4 {margin-right: 2rem;}
.mr-5 {margin-right: 2.5rem;}

.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: 0.5rem;}
.mb-2 {margin-bottom: 1rem;}
.mb-3 {margin-bottom: 1.5rem;}
.mb-4 {margin-bottom: 2rem;}
.mb-5 {margin-bottom: 2.5rem;}

.ml-0 {margin-left: 0;}
.ml-1 {margin-left: 0.5rem;}
.ml-2 {margin-left: 1rem;}
.ml-3 {margin-left: 1.5rem;}
.ml-4 {margin-left: 2rem;}
.ml-5 {margin-left: 2.5rem;}

.pt-0 {padding-top: 0;}
.pt-1 {padding-top: 0.5rem;}
.pt-2 {padding-top: 1rem;}
.pt-3 {padding-top: 1.5rem;}
.pt-4 {padding-top: 2rem;}
.pt-5 {padding-top: 2.5rem;}

.pr-0 {padding-right: 0;}
.pr-1 {padding-right: 0.5rem;}
.pr-2 {padding-right: 1rem;}
.pr-3 {padding-right: 1.5rem;}
.pr-4 {padding-right: 2rem;}
.pr-5 {padding-right: 2.5rem;}

.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: 0.5rem;}
.pb-2 {padding-bottom: 1rem;}
.pb-3 {padding-bottom: 1.5rem;}
.pb-4 {padding-bottom: 2rem;}
.pb-5 {padding-bottom: 2.5rem;}

.pl-0 {padding-left: 0;}
.pl-1 {padding-left: 0.5rem;}
.pl-2 {padding-left: 1rem;}
.pl-3 {padding-left: 1.5rem;}
.pl-4 {padding-left: 2rem;}
.pl-5 {padding-left: 2.5rem;}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background: #bd2c2c;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    z-index: 2;
}

header:hover {
    width: 250px;
}

header .nav {
    padding: 0;
    line-height: 50px;
}

header .nav .nav-link-disabled {
    color: #FFF !important;
    background: transparent !important;
}

header .nav .nav-link {
    float: left;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    text-decoration: none !important;
    color: #FFF;
    overflow: hidden;
    padding: 0;
}

header .nav .nav-link:hover {
    background: #FFF;
    color: #333;
}

header .nav .nav-link span {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    padding: 0;
    float: left;
    width: calc(100% - 80px);
}

header .nav .nav-link i {
    float: left;
    width: 80px;
    height: 100%;
    line-height: 70px;
    font-size: 28px;
}

header .nav a {
    float: right;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    color: #EEE;
    padding: 0 10px;
    text-decoration: none !important;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    text-transform: uppercase;
}

header .nav a:hover {
    color: #FFF;
}

p {
    line-height: 24px;
}

.brand-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 46%;
    background-image: url(../images/logo.png);
}

.subnav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    left: -250px;
    background: #bd2c2c;
    z-index: 1;
    opacity: 0.85;
}

.subnav a {
    float: left;
    width: 100%;
    height: 70px;
    color: #FFF !important;
    text-align: left;
    line-height: 70px;
    padding: 0 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
}

.subnav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.subnav a.active {
    background: rgba(0, 0, 0, 0.1);
}

a {
    color: #bd2c2c;
}

a:hover {
    color: #bd2c2c;
}

a:active {
    color: #bd2c2c;
}

a:focus {
    color: #bd2c2c;
}

a:visited {
    color: #bd2c2c;
}

footer {
    float: left;
    width: 100%;
    margin: 50px 0;
}

.controls {
    position: fixed;
    top: 0;
    left: 330px;
    right: 0;
    padding: 35px;
    overflow: hidden;
}

.controls .form-control {
    float: left;
    margin-right: 10px;
}

.content {
    position: fixed;
    top: 0;
    left: 330px;
    right: 0;
    bottom: 0;
    padding: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

.jr-list {
    padding: 0;
    margin: 0;
}

.jr-list li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.jr-list li:first-of-type .jr-item {
    padding-top: 0;
}

.jr-list li .jr-item {
    float: left;
    width: 100%;
    text-decoration: none !important;
    color: #FFF !important;
    padding: 25px 0;
    border-bottom: 1px solid #252525;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.jr-list li .jr-item:hover {
    padding-left: 25px;
}

.jr-list li .jr-item h1 {
    font-size: 26px;
    font-weight: 300;
    margin: 0;
}

.jr-list li .jr-item p {
    color: #CCC;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0 0;
}

.panel-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -1000px;
    width: 35%;
    background: #F2F2F2;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 35px;
}

.panel-invisible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 99;
    opacity: 0.25;
    display: none;
}

.jr-name {
    float: left;
    width: 100%;
    font-size: 42px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 100;
    line-height: 42px;
}

.jr-name .jr-status-menu {
    float: right;
    background: #4084ec;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    height: 42px;
}

.jr-name .jr-status-menu ul {
    display: none;
}

.jr-name .jr-status-menu.dropit-open {
    border-radius: 3px 3px 0 0 !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.jr-name .jr-status-menu.pending {
    background: #4084ec;
    color: #FFF;
}

.jr-name .jr-status-menu.approved {
    background: #2ab27b;
    color: #FFF;
}

.jr-name .jr-status-menu.declined {
    background: #ec3e3e;
    color: #FFF;
}

.jr-name .jr-status-menu.blacklisted {
    background: #000;
    color: #FFF;
}

.dropit {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropit .dropit-trigger {
    position: relative;
    background: inherit;
    width: 100%;
    float: left;
    border-radius: inherit;
}

.dropit .dropit-submenu {
    position: absolute;
    top: 42px;
    left: 0;
    /* dropdown left or right */
    z-index: 1000;
    display: none;
    width: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
    background: inherit;
}

.dropit .dropit-open .dropit-submenu {
    display: block;
    border-radius: 0 0 3px 3px !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.dropit-trigger a {
    color: inherit;
    text-decoration: none !important;
    float: left;
    width: 100%;
    height: 42px;
    padding: 0 20px;
}

.dropit-trigger a .fa {
    font-size: 14px;
    line-height: 40px;
    float: right;
    margin-left: 10px;
}

.dropit-submenu li {
    float: left;
    width: 100%;
}

.dropit-submenu li.separator {
    float: left;
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 10px 0;
}

.dropit-submenu li a {
    color: inherit;
    font-size: 14px;
    text-align: center;
    height: 42px;
    overflow: hidden;
    padding: 0;
}

.dropit-submenu li a:hover {
    background: rgba(255, 255, 255, 0.15);
}

.dropit-submenu li a:last-of-type {
    border-radius: 0 0 3px 3px;
}

.dropit-submenu li input {
    float: left;
    width: calc(100% - 20px);
    height: 42px;
    background: transparent;
    margin: 0 10px 10px 10px;
    padding: 0;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    outline: 0;
}

.dropit-submenu li input::-webkit-input-placeholder {
    color: #FFF;
}

.dropit-submenu li input:-moz-placeholder {
    color: #FFF;
}

.dropit-submenu li input::-moz-placeholder {
    color: #FFF;
}

.dropit-submenu li input:-ms-input-placeholder {
    color: #FFF;
}

.jr-icon {
    font-size: 18px;
    float: left;
    width: 18px;
    height: 18px;
    text-align: center;
}

.jr-attr {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.jr-subheading {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 22px;
    margin-top: 35px;
}

.jr-link {
    text-decoration: underline;
    color: #333 !important;
}

.col-md-6 {
    padding: 7px 18px;
    line-height: 18px;
}

.col-md-6.error {
    color: #ec3e3e;
}

.col-md-6.success {
    color: #2ab27b;
}

.form-control {
    background-color: transparent;
    color: #888;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: none;
}

.form-control:focus {
    border-color: #bd2c2c;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
    background: #bd2c2c;
}

header .nav .nav-link.active {
    background-color: #a22727;
    color: white !important;
}

.mission-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.mission-item {
    float: left;
    width: 250px;
    height: 250px;
    background: #222;
    list-style-type: inherit;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .25s ease;
    cursor: pointer;
    color: white !important;
}

.mission-item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    transition: inherit;
}

.mission-item-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    font-size: 26px;
}

.mission-item-mode {
    position: absolute;
    right: 5%;
    top: 5%;
    text-transform: uppercase;
    background: #151515;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
}

.mission-item-mode-coop {
    background: #1a7fb1;
}

.mission-item-mode-adversarial {
    background: #d0263c;
}

.mission-item:hover .mission-item-inner {
    background-color: rgba(255, 255, 255, 0.05);
}

.mission-item.active {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
}

.large-panel-exit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.15);
    z-index: 450;
    display: none;
    cursor: pointer;
}

.large-panel-container {
    position: fixed;
    left: 330px;
    background: white;
    z-index: 500;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    top: 100%;
    overflow-y: scroll;
}

.large-panel-container .large-panel-inner {
    width: 100%;
    float: left;
    height: 100%;
}

.large-panel-content h1 {
    font-size: 46px;
    float: left;
    width: 100%;
}

.large-panel-content p {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

.large-panel-content {
    position: absolute;
    padding: 50px;
    left: 0;
    top: 0;
    right: 33%;
    bottom: 0;
}

.large-panel-sidebar {
    position: fixed;
    padding: 50px;
    top: 100%;
    right: 0;
    bottom: 0;
    width: calc(33% - 106px);
    background: #f2f2f2;
}

.mission-media-item {
    float: left;
    width: 150px;
    height: 150px;
    background: #f2f2f2;
    text-align: center;
    line-height: 150px;
    font-size: 46px;
    color: rgba(0, 0, 0, 0.15) !important;
}

.mission-media-item:hover {
    background: #eee;
}

.full-width {
    width: 100%;
}

.mission-item-mode-preop {
    background: #56b556;
}

.mission-media {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
