:root {
  --transparent: transparent;
  --black: #22292f;
  --white: white;
  --white-50: rgba(255, 255, 255, .5);
  --danger: #e74444;
  --success: #21b978;
  --warning: #ffeb3b;
  --info: #03a9f4;
  --primary: #bd2c2c;
  --primary-dark: #aa2828;
  --primary-70: #711a1a;
  --primary-50: #d16b6b;
  --primary-30: #e5abab;
  --primary-10: #f8eaea;
  --logo: var(--black);
  --sidebar-icon: white;
}

.bg-grad-sidebar {
  background: var(--black);
}

.bg-grad-sidebar h3,
.bg-grad-sidebar h3 span,
.bg-grad-sidebar a {
  color: #fff;
  font-weight: 600;
}

.bg-grad-sidebar h3.router-link-exact-active,
.bg-grad-sidebar h3 span.router-link-exact-active,
.bg-grad-sidebar a.router-link-exact-active {
  font-weight: 700;
}

.form-input:focus,
.form-input:active,
.btn-default:focus,
.btn-default:active {
  text-shadow: none;
  -webkit-box-shadow: 0 0 0 3px rgba(92, 122, 255, .5);
          box-shadow: 0 0 0 3px rgba(92, 122, 255, .5);
}

.form-select:focus,
.checkbox:focus,
.form-radio:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

[dusk="global-search"] {
  border-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: rgba(237, 241, 244, .5);
}

.bg-80 {
  background-color: transparent !important;
}

.sidebar-icon path {
  fill: currentColor;
}
