header {
    // background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

    &.header-transparent {
        background-color: transparent !important;
        border-bottom: transparent !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: transparent;
            border-color: transparent;
        }
    }

    &.header-primary {
        background-color: $brand-primary !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: $brand-primary;
            border-color: $brand-primary;
        }
    }

    &.header-success {
        background-color: $brand-success !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: $brand-success;
            border-color: $brand-success;
        }
    }

    &.header-info {
        background-color: $brand-info !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: $brand-info;
            border-color: $brand-info;
        }
    }

    &.header-warning {
        background-color: $brand-warning !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: $brand-warning;
            border-color: $brand-warning;
        }
    }

    &.header-danger {
        background-color: $brand-danger !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: $brand-danger;
            border-color: $brand-danger;
        }
    }

    &.header-dark {
        background-color: black !important;

        .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .list-group .list-group-item.active {
            background-color: black;
            border-color: black;
        }
    }

    &.header-colored {
        color: white !important;

        .navbar .navbar-nav {
            #logo-red {
                display: none;
            }

            #logo-white {
                display: inline-block;
            }

            .nav-item, .nav-link {
                color: white !important;

                &.active {
                    color: white !important;
                }
            }
        }

        .subnav .subnav-link {
            color: rgba(255, 255, 255, 0.66) !important;

            &.active {
                color: white !important;
                box-shadow: 0 -2px 0 white inset;
            }
        }
    }

    .navbar {
        height: 64px;
        box-shadow: none;
        padding: .25rem 1.5rem;

        .navbar-nav {
            #logo-white {
                display: none;
            }

            .nav-item, .nav-link {
                font-weight: 500;
                min-height: 49px;
                line-height: 49px;
                padding: 0 .5321rem;
                color: rgba(0, 0, 0, 0.66);

                &.active {
                    color: $brand-primary !important;
                }

                img {
                    height: 32px;
                }

                .fa.fa-bars {
                    font-size: 26px;
                    float: left;
                    width: 100%;
                    height: 100%;
                    line-height: 49px;
                }
            }
        }
    }

    .subnav {
        width: 100%;
        height: 64px;
        text-align: center;

        &.subnav-upper {
            background: rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05) inset;
        }

        .subnav-link {
            display: inline-block;
            height: 100%;
            line-height: 64px;
            padding: 0 2rem;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.66) !important;
            text-decoration: none !important;

            &.active {
                box-shadow: 0 -2px 0 $brand-primary inset;
                color: $brand-primary !important;
            }
        }
    }
}
