.hub-dropdown {
    float: left;
    height: 100%;
    margin: 0;
    text-align: center;
    line-height: 60px;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: $brand-primary !important;
    text-decoration: none!important;
    text-transform: uppercase;
    position: relative;

    &.pending {
        background: $status-pending !important;
        color: #FFF !important;
    }

    &.approved {
        background: $status-approved !important;
        color: #FFF !important;
    }

    &.declined {
        background: $status-declined !important;
        color: #FFF !important;
    }

    &.blacklisted {
        background: $status-blacklisted !important;
        color: #FFF !important;
    }

    &.hub-dropdown-fixed-color {
        a {
            background: inherit !important;
            color: inherit !important;

            &:hover {
                background: inherit;
                color: inherit;
            }

            &.open {
                background: inherit !important;
            }
        }

        ul {
            background: inherit !important;
        }
    }

    a {
        padding: 0 25px;
        float: left;
        height: 100%;
        margin: 0;
        text-align: center;
        line-height: 60px;
        text-decoration: none!important;

        &:hover {
            background: #f5f5f5;
        }

        &.open {
            background: $brand-primary;
            color: white;
        }

        &:first-of-type i {
            font-weight: 900;
            font-size: 16px;
            margin-left: 5px;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 15px 0;
        position: absolute;
        top: 60px;
        left: 0;
        background: $brand-primary;
        min-width: 200px;
        box-shadow: 0 5px 5px rgba(0,0,0,.1);
        display: none;
        z-index: 100;

        li {
            float: left;
            width: 100%;

            &.separator {
                float: left;
                width: 100%;
                background: rgba(255, 255, 255, 0.15);
                height: 1px;
                margin: 20px 0;
            }

            a, span {
                float: left;
                width: 100%;
                text-align: left;
                height: 40px;
                line-height: 40px;
                text-decoration: none!important;
                color: white;
                font-weight: 400;
                padding: 0 25px;

                &:hover {
                    background: rgba(0, 0, 0, 0.15) !important;
                }

                &.pending {
                    opacity: .5;

                    i.fa {
                        float: left;
                        height: 38px;
                        line-height: 38px;
                        font-size: 12px;
                        margin-left: -16px;
                    }
                }
            }

            span {
                cursor: default;
                opacity: .5;
            }

            input {
                float: left;
                width: 100%;
                border: none;
                background: transparent;
                color: white;
                padding: 0 25px;
                font-size: 14px;
                text-transform: uppercase;
                height: 40px;
                outline: 0 !important;
                font-weight: 400;

                &::-webkit-input-placeholder {
                    color: #FFF;
                }

                &:-moz-placeholder {
                    color: #FFF;
                }

                &::-moz-placeholder {
                    color: #FFF;
                }

                &:-ms-input-placeholder {
                    color: #FFF;
                }
            }
        }
    }

    &.hub-dropdown-right ul {
        right: 0;
        left: inherit;
    }
}
