.jr-item {
    .jr-item-title {
        float: left;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
        margin-right: 0;
    }

    .jr-item-meta {
        float: left;
        width: 100%;
        opacity: .75;
        font-size: 14px;
    }
}

.jr-icon {
    width: 18px;
    text-align: center;
}

#new_status {
    padding: 15px 1.5rem 13px 1.5rem;
    border: none;
    box-shadow: none;
    background: transparent;
}
