.mission {
    @apply .bg-grey-darker .shadow-button .rounded .relative;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .15s ease;
}

.mission-tab {
    &.active {
        @apply .text-primary;
        box-shadow: 0 -3px 0 config('colors.primary') inset;
    }
}

.mission-item-fade {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.66));
}
