.notifications-has-unread {
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 27%;
    right: 32%;
    background: $brand-info;
    border-radius: 100%;
}

.notification-item {
    padding: .75rem 1rem !important;

    .notification-text {
        font-size: 14px !important;
        font-weight: 500;
        color: #444 !important;
        float: left;
        width: calc(100% - 2rem);
        padding-left: .5rem;
    }

    .notification-subtext {
        float: left;
        width: calc(100% - 2rem);
        padding-left: 2.5rem;
        font-size: 12px !important;
    }

    .notification-image {
        @include background-image-defaults();
        float: left;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        margin: 0 !important;
        margin-bottom: -1rem !important;
    }
}
