@import 'variables';
@import 'node_modules/bootstrap-material-design/scss/bootstrap-material-design';
@import 'node_modules/magnific-popup/dist/magnific-popup';
@import 'node_modules/font-awesome/css/font-awesome';
@import 'laravel-mentions';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    overflow-y: scroll;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;

    .banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: calc(100% / 1.618);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.banner-fade-top .banner-fade-top,
        &.banner-fade-bottom .banner-fade-bottom {
            display: block;
        }

        .banner-fade-top,
        .banner-fade-bottom {
            display: none;
            float: left;
            width: 100%;
            height: 50%;
            background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
        }

        .banner-fade-bottom {
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
        }
    }
}

@import 'mixins';
@import 'header';
@import 'mission';
@import 'pulse';
@import 'notifications';
@import 'atwho';
@import 'jr';

.navbar
    .navbar-nav
    .nav-item.dropdown
    .dropdown-menu
    .list-group
    .list-group-item.active
    .list-group-item-text {
    color: rgba(255, 255, 255, 0.75) !important;
}

main {
    padding: 3rem 3rem 0 3rem;

    @media screen and (max-width: 768px) {
        padding: 1rem;
    }

    @media screen and (max-width: 512px) {
        padding: 0.5rem;
    }
}

a {
    color: $brand-primary;

    &:hover, &:focus, &:active {
        color: $brand-primary;
    }
}

.text-muted {
    color: rgba(0, 0, 0, 0.5) !important;
}

.mfp-figure:after {
    box-shadow: none;
}

.mfp-bg {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
}

.mfp-arrow-left:before {
    border-right: 27px solid transparent;
}

.mfp-arrow-right:before {
    border-left: 27px solid transparent;
}

.operations-mission-browser {
    padding-top: 5rem;
    border-top: 1px solid #ddd;
    margin-top: 5rem;
}

.text-mention {
    font-weight: 600;
}

.mention-node {
    font-weight: bold;
    color: $brand-primary;
}

.highlight {
    background-color: rgba(189, 44, 44, 0.05);
}

[contenteditable='true']:empty:before {
    content: attr(placeholder);
    display: block;
    opacity: 0.5;
}

.table.no-border {
    td,
    th {
        border: none;
    }
}

.p-b-0-lot {
    &:last-of-type {
        padding-bottom: 0 !important;
    }
}

.w100 {
    width: 100%;
}

.nav.navbar-nav {
    display: block !important;

    div.pull-left,
    div.pull-right {
        .nav-item {
            .nav-link {
                position: relative;
            }

            .dropdown-menu {
                position: absolute;
            }
        }
    }

    div.pull-left {
        .nav-item {
            .dropdown-menu {
                left: 0;
                right: auto;
            }
        }
    }

    div.pull-right {
        .nav-item {
            .dropdown-menu {
                right: 0;
                left: auto;
            }
        }
    }
}

.modal-header,
.card {
    display: block;
}
