@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/magnific-popup/dist/magnific-popup";
@import "node_modules/font-awesome/css/font-awesome";

body {
    background: $body-bg;
    font-family: $font-family;
    font-size: $font-size-base;
    color: $text-color-base;
}

.m0 {margin: 0 !important;}
.p0 {padding: 0 !important;}

.mt-0 {margin-top: 0;}
.mt-1 {margin-top: 0.5rem;}
.mt-2 {margin-top: 1rem;}
.mt-3 {margin-top: 1.5rem;}
.mt-4 {margin-top: 2rem;}
.mt-5 {margin-top: 2.5rem;}

.mr-0 {margin-right: 0;}
.mr-1 {margin-right: 0.5rem;}
.mr-2 {margin-right: 1rem;}
.mr-3 {margin-right: 1.5rem;}
.mr-4 {margin-right: 2rem;}
.mr-5 {margin-right: 2.5rem;}

.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: 0.5rem;}
.mb-2 {margin-bottom: 1rem;}
.mb-3 {margin-bottom: 1.5rem;}
.mb-4 {margin-bottom: 2rem;}
.mb-5 {margin-bottom: 2.5rem;}

.ml-0 {margin-left: 0;}
.ml-1 {margin-left: 0.5rem;}
.ml-2 {margin-left: 1rem;}
.ml-3 {margin-left: 1.5rem;}
.ml-4 {margin-left: 2rem;}
.ml-5 {margin-left: 2.5rem;}

.pt-0 {padding-top: 0;}
.pt-1 {padding-top: 0.5rem;}
.pt-2 {padding-top: 1rem;}
.pt-3 {padding-top: 1.5rem;}
.pt-4 {padding-top: 2rem;}
.pt-5 {padding-top: 2.5rem;}

.pr-0 {padding-right: 0;}
.pr-1 {padding-right: 0.5rem;}
.pr-2 {padding-right: 1rem;}
.pr-3 {padding-right: 1.5rem;}
.pr-4 {padding-right: 2rem;}
.pr-5 {padding-right: 2.5rem;}

.pb-0 {padding-bottom: 0;}
.pb-1 {padding-bottom: 0.5rem;}
.pb-2 {padding-bottom: 1rem;}
.pb-3 {padding-bottom: 1.5rem;}
.pb-4 {padding-bottom: 2rem;}
.pb-5 {padding-bottom: 2.5rem;}

.pl-0 {padding-left: 0;}
.pl-1 {padding-left: 0.5rem;}
.pl-2 {padding-left: 1rem;}
.pl-3 {padding-left: 1.5rem;}
.pl-4 {padding-left: 2rem;}
.pl-5 {padding-left: 2.5rem;}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background: $brand-primary;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    z-index: 2;

    &:hover {
        width: 250px;
    }

    .nav {
        padding: 0;
        line-height: 50px;

        .nav-link-disabled {
            color: #FFF !important;
            background: transparent !important;
        }

        .nav-link {
            float: left;
            width: 100%;
            height: 70px;
            text-align: center;
            line-height: 70px;
            text-decoration: none !important;
            color: #FFF;
            overflow: hidden;
            padding: 0;

            &:hover {
                background: #FFF;
                color: #333;
            }

            span {
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: left;
                padding: 0;
                float: left;
                width: calc(100% - 80px);
            }

            i {
                float: left;
                width: 80px;
                height: 100%;
                line-height: 70px;
                font-size: 28px;
            }
        }

        a {
            float: right;
            color: #222;
            font-weight: 400;
            font-size: 14px;
            color: #EEE;
            padding: 0 10px;
            text-decoration: none !important;
            -webkit-transition: all .15s ease;
            transition: all .15s ease;
            text-transform: uppercase;

            &:hover {
                color: #FFF;
            }
        }
    }
}

p {
    line-height: 24px;
}

.brand-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 46%;
    background-image: url(../images/logo.png);
}

.subnav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    left: -250px;
    background: $brand-primary-darker;
    z-index: 1;
    opacity: 1;

    a {
        float: left;
        width: 100%;
        height: 70px;
        color: #FFF !important;
        text-align: left;
        line-height: 70px;
        padding: 0 30px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        &.active {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

a {
    color: $brand-primary;

    &:hover, &:active, &:focus, &:visited {
        color: $brand-primary;
    }
}

footer {
    float: left;
    width: 100%;
    margin: 50px 0;
}

.controls {
    overflow: hidden;
    float: left;
    width: 100%;

    .form-control {
        float: left;
        margin-right: 10px;
    }
}

.archub-content {
    position: fixed;
    top: 0;
    left: 330px;
    right: 0;
    bottom: 0;
    padding: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

.jr-list {
    padding: 0;
    margin: 0;

    li {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;

        .jr-item {
            float: left;
            width: 100%;
            text-decoration: none !important;
            color: #FFF !important;
            padding: 25px 0;
            border-bottom: 1px solid #252525;
            -webkit-transition: all .15s ease;
            transition: all .15s ease;

            &:hover {
                padding-left: 25px;
            }

            h1 {
                font-size: 26px;
                font-weight: 300;
                margin: 0;
            }

            p {
                color: #CCC;
                font-size: 14px;
                font-weight: 300;
                margin: 5px 0 0 0;
            }
        }
    }

    li:first-of-type .jr-item {
        padding-top: 0;
    }
}

.panel-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -1000px;
    width: 35%;
    background: #F2F2F2;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 35px;
}

.panel-invisible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 99;
    opacity: 0.25;
    display: none;
}

.jr-name {
    float: left;
    width: 100%;
    font-size: 42px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 100;
    line-height: 42px;

    .jr-status-menu {
        float: right;
        background: #4084ec;
        color: #FFF;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 400;
        height: 42px;

        ul {
            display: none;
        }

        &.dropit-open {
            border-radius: 3px 3px 0 0 !important;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }

        &.pending {
            background: $status-pending;
            color: #FFF;
        }

        &.approved {
            background: $status-approved;
            color: #FFF;
        }

        &.declined {
            background: $status-declined;
            color: #FFF;
        }

        &.blacklisted {
            background: $status-blacklisted;
            color: #FFF;
        }
    }
}

.dropit {
    list-style: none;
    padding: 0;
    margin: 0;

    .dropit-trigger {
        position: relative;
        background: inherit;
        width: 100%;
        float: left;
        border-radius: inherit;
    }

    .dropit-submenu {
        position: absolute;
        top: 42px;
        left: 0;
        z-index: 1000;
        display: none;
        width: inherit;
        list-style: none;
        padding: 0;
        margin: 0;
        background: inherit;
    }

    .dropit-open .dropit-submenu {
        display: block;
        border-radius: 0 0 3px 3px !important;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}

.dropit-trigger a {
    color: inherit;
    text-decoration: none !important;
    float: left;
    width: 100%;
    height: 42px;
    padding: 0 20px;

    .fa {
        font-size: 14px;
        line-height: 40px;
        float: right;
        margin-left: 10px;
    }
}

.dropit-submenu li {
    float: left;
    width: 100%;

    &.separator {
        float: left;
        width: 100%;
        height: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        margin: 10px 0;
    }

    a {
        color: inherit;
        font-size: 14px;
        text-align: center;
        height: 42px;
        overflow: hidden;
        padding: 0;

        &:hover {
            background: rgba(255, 255, 255, 0.15);
        }

        &:last-of-type {
            border-radius: 0 0 3px 3px;
        }
    }
}

.dropit-submenu li input {
    float: left;
    width: calc(100% - 20px);
    height: 42px;
    background: transparent;
    margin: 0 10px 10px 10px;
    padding: 0;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    outline: 0;

    &::-webkit-input-placeholder {
        color: #FFF;
    }

    &:-moz-placeholder {
        color: #FFF;
    }

    &::-moz-placeholder {
        color: #FFF;
    }

    &:-ms-input-placeholder {
        color: #FFF;
    }
}

.jr-icon {
    font-size: 18px;
    float: left;
    width: 18px;
    height: 18px;
    text-align: center;
}

.jr-attr {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

.jr-subheading {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 22px;
    margin-top: 35px;
}

.jr-link {
    text-decoration: underline;
    color: #333 !important;
}

.col-md-6 {
    padding: 7px 18px;
    line-height: 18px;
}

.col-md-6.error {
    color: #ec3e3e;
}

.col-md-6.success {
    color: #2ab27b;
}

.form-control {
    background-color: transparent;
    color: #888;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: none;

    &:focus {
        border-color: $brand-primary;
        box-shadow: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
    background: $brand-primary;
}

header .nav .nav-link.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: white !important;
}

.mission-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.mission-item {
    float: left;
    width: calc(16.6666vw - 78px);
    height: calc(16.6666vw - 78px);
    background: $brand-primary;
    list-style-type: inherit;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .33s ease;
    cursor: pointer;
    color: white !important;
}

.mission-item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    transition: inherit;
    overflow: hidden;
}

.mission-item-title {
    position: absolute;
    bottom: 15%;
    left: 7%;
    right: 7%;
    word-wrap: break-word;
    font-size: 1.33vmax;
    line-height: 1.66vmax;
}

.mission-item-mode {
    position: absolute;
    right: 5%;
    top: 5%;
    text-transform: uppercase;
    background: #151515;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
}

.mission-item-mode-coop {
    background: #1a7fb1;
}

.mission-item-mode-adversarial {
    background: #d0263c;
}

.mission-item:hover .mission-item-inner {
    background: rgba(0, 0, 0, 0);
}

.mission-item.active {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
}

.large-panel-exit {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.15);
    z-index: 450;
    display: none;
    cursor: pointer;
}

.large-panel-container {
    position: fixed;
    left: 330px;
    background: white;
    z-index: 500;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    top: 100%;
    overflow-y: scroll;
}

.large-panel-container .large-panel-inner {
    width: 100%;
    float: left;
    height: 100%;
}

.large-panel-content h1 {
    font-size: 46px;
    float: left;
    width: 100%;
}

.large-panel-content p {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

.large-panel-content {
    position: absolute;
    padding: 50px;
    left: 0;
    top: 0;
    right: 33%;
    bottom: 0;
}

.large-panel-sidebar {
    position: fixed;
    padding: 50px;
    top: 100%;
    right: 0;
    bottom: 0;
    width: calc(33% - 106px);
    background: #f2f2f2;
    overflow-y: auto;
}

.mission-media-item {
    float: left;
    width: calc(50% - 5px);
    height: 200px;
    background-color: rgba(255, 255, 255, 0.66);
    text-align: center;
    line-height: 200px;
    font-size: 64px;
    color: rgba(0, 0, 0, 0.15) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    outline: 0 !important;
    cursor: pointer;
}

.mission-media-item:hover {
    background-color: white;
}

.full-width {
    width: 100%;
}

.mission-item-mode-preop {
    background: #56b556;
}

.mission-media {
    float: left;
    width: 100%;
    /* margin-bottom: 40px; */
}

.mission-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100vh / 1.618);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #111;
}

.mission-banner-heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 72px;
    line-height: calc(150vh / 1.618);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.mission-comment-item {
    float: left;
    width: 100%;
    margin-bottom: 3rem;
}

.mission-comment-item-avatar {
    float: left;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.mission-comment-item-username {
    float: left;
    width: calc(100% - 40px);
    height: 26px;
    line-height: 26px;
    padding-left: 10px;
    font-size: 18px;
}

.mission-comment-item-timestamp {
    float: left;
    width: 100%;
    padding-left: 50px;
    opacity: 0.75;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;
    margin-top: -8px;
}

.mission-comment-item-text {
    float: left;
    width: calc(100% - 50px);
    /* padding-left: 50px; */
    padding-top: 5px;
}

.hub-form-control {
    max-width: 100%;
    border: none;
    background: #f5f5f5;
    padding: 20px;
    resize: vertical;
    font-size: 16px;
}

.hub-btn {
    border-radius: 0;
    background: transparent !important;
    color: black !important;
    padding: 8px 18px;
    font-size: 16px;
    box-shadow: none !important;
    outline: 0 !important;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid transparent;
}

.hub-btn:active {
    background: #eee !important;
}

.hub-btn.btn-primary {
    background: $brand-primary !important;
    color: white !important;
    border: 1px solid $brand-primary !important;
}

.hub-btn.btn-primary:active {
    background: black !important;
    border-color: black !important;
}

.hub-form-control:focus {
    background: #f9f9f9;
}

.mission-nav {
    position: absolute;
    top: calc(100vh / 1.618);
    left: 0;
    right: 0;
    height: 60px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 0 50px;
    z-index: 100;
}

.mission-nav-item {
    float: left;
    height: 100%;
    text-align: center;
    line-height: 60px;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: $brand-primary !important;
    text-decoration: none !important;
    margin-right: 1px;
}

.mission-nav-item:hover {
    background: #f5f5f5;
}

.mission-banner-tagline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: calc(170vh / 1.618);
}

.mission-weather {
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
}

.mission-weather-map {
    float: left;
    width: 100%;
    font-size: 28px;
}

.mission-weather-datetime {
    float: left;
    width: 100%;
    font-size: 18px;
}

.mission-weather-overcast {
    float: left;
    width: 100%;
    font-size: 18px;
}

.mission-weather-image {
    float: left;
    width: 140px;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission-overview {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #f5f5f5;
}

.mission-terrain {
    float: right;
    width: calc(100% - 250px);
    height: calc(100% + 40px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: #eee;
    margin: -20px -25px;
}

.mission-version {
    float: right;
    height: 100%;
    line-height: 60px;
    font-weight: 500;
    font-size: 14px;
    color: black;
    opacity: .66;
    text-transform: uppercase;
}

.mission-briefing {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.mission-briefing-nav {
    float: left;
    width: 150px;
    border-right: 1px solid #eee;
}

.mission-briefing-content {
    float: left;
    width: calc(100% - 150px);
    padding: 0 25px;
}

.mission-briefing-nav a {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none !important;
}

.mission-briefing-nav a:hover, .mission-briefing-nav a.active {
    background: #f5f5f5;
}

.mission-briefing-content h4 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.mission-briefing-nav a.locked {
    opacity: .5;
    cursor: default;
    background: transparent !important;
}

.mission-comment-control {
    font-size: 14px;
    color: #444;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 100%;
    line-height: 30px;
    margin-bottom: 5px;
    display: inline-block;
}

.mission-comments .pagination {
    float: left;
    width: 100%;
    text-align: center;
    cursor: default;
}

.mission-comments .pagination li {
    display: inline-block;
}

.mission-comments .pagination li span, .mission-comments .pagination li a {
    border: none;
    border-radius: 0;
}

.mission-comments .pagination li span {
    color: #444 !important;
}

.mission-comments .pagination li a {
    color: $brand-primary !important;
}

.btn {
    cursor: pointer !important;
}

.mission-comment-controls {
    float: left;
    width: 40px;
    padding-top: 10px;
    text-align: center;
    margin-right: 10px;
}

.mission-comment-control:hover {
    border-color: $brand-primary;
}

.mission-media-item:nth-of-type(1n) {
    margin-right: 5px;
}

.operations {
    float: left;
    width: 100%;
    padding-bottom: 100px;
}

.operation-item {
    float: left;
    width: 100%;
    min-height: 60px;
    line-height: 60px;
    padding: 3px 0;
    position: relative;
}

.operation-item-next-to-run {
    position: absolute;
    left: -10px;
    width: 20px;
    height: 20px;
    background: $brand-primary;
    border-radius: 100%;
    top: calc(50% - 10px);
    border: 3px solid white;
}

.operation-item-date {
    float: left;
    font-size: 20px;
    width: 150px;
    height: 100%;
    line-height: inherit;
    background: #f5f5f5;
    text-align: left;
    text-indent: 20px;
    border-right: 1px solid #ececec;
}

.operation-item-time {
    float: left;
    font-size: 20px;
    width: 100px;
    height: 100%;
    line-height: inherit;
    background: #f5f5f5;
    text-align: center;
}

.operation-item-missions {
    float: left;
    width: calc(100% - 330px);
}

.operation-item-mission-item {
    float: left;
    width: calc(33.333333% - 5px);
    text-align: center;
    background: #f5f5f5;
    height: 60px;
    line-height: inherit;
    margin-left: 5px;
}

.operation-item-controls {
    float: right;
    width: 75px;
}

.operation-item-controls .btn {
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
}

.operation-item-mission-item.assigned {
    background: $brand-primary;
    color: white;
}

.operation-item-add-mission {
    float: right;
    width: 60px;
    height: 100%;
    background: $brand-primary;
    color: white !important;
    text-align: center;
    line-height: inherit;
    font-size: 24px;
}

.operation-item-add-mission:active {
    background: black;
}

.large-panel-content.full-page {
    right: 0;
}

.operations-mission-browser {
    position: fixed;
    bottom: -1000px;
    left: 330px;
    right: 0;
    height: 400px;
    background: #f5f5f5;
    padding: 40px;
    overflow-y: auto;
}

.operations-mission-browser .mission-group .mission-item {
    width: calc(16.6666vw - 80px);
    height: calc(16.6666vw - 80px);
}

.missions-pinned {
    float: left;
    width: 100%;
}

.missions-pinned-headers {
    float: inherit;
    width: inherit;
}

.missions-pinned-headers h2 {
    float: left;
    width: 50%;
    text-indent: 5px;
    margin-top: 0;
    color: #999;
    font-weight: 600;
    margin-bottom: .5em;
}

.mission-section-heading {
    float: left;
    width: 100%;
    color: #999;
    font-weight: 600;
    margin-bottom: .5em;
    margin-top: 5rem;
    text-indent: 5px;
}

.missions-pinned-groups {
    float: inherit;
    width: inherit;
}

.missions-pinned-groups .mission-group {
    width: 50%;
}

.mission-item-new-banner {
    position: absolute;
    left: -12%;
    top: 5%;
    text-transform: uppercase;
    background: #ffbe00;
    padding: 3px 40px;
    border-radius: 3px;
    color: black;
    transform: rotate(-45deg);
    font-weight: 600;
}

.mission-item-author {
    position: absolute;
    bottom: 5%;
    left: 7%;
    right: 7%;
    word-wrap: break-word;
    font-size: 0.75vmax;
}

.mission-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.mission-spinner i {
    width: 100px;
    font-size: 48px;
    margin: 0 auto;
}

.mission-item.spinner {
    background-blend-mode: hard-light;
}

.mission-media-item-delete, .mission-video-item-delete {
    float: right;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid white;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 28px;
    margin: 5px;
    opacity: .5;
    font-weight: 600;
    transition: all .15s ease;
}

.mission-media-item-delete:hover, .mission-video-item-delete:hover {
    opacity: 1;
}

.mission-media-item-video {
    background-size: contain;
    background-color: black !important;
}

#create-operation-starts-at {
    float: right;
    font-size: 16px;
    height: 43px;
    padding: 8px 10px;
    outline: 0;
}

.hub-label {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 1rem;
}

.hub-control {
    border-radius: 0 !important;
    min-height: 43px;
    border-width: 2px;
}

.mission-section-label {
    margin: -10px 0 0 0;
    padding: 0 0 0 5px;
    font-size: 18px;
    color: white;
    opacity: .75;
}

.mission-banner-heading-nograd {
    background: transparent !important;
}

.hub-dropdown {
    float: left;
    height: 100%;
    margin: 0;
    text-align: center;
    line-height: 60px;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    color: $brand-primary !important;
    text-decoration: none!important;
    text-transform: uppercase;
    position: relative;
}

.hub-dropdown a {
    padding: 0 25px;
    float: left;
    height: 100%;
    margin: 0;
    text-align: center;
    line-height: 60px;
    text-decoration: none!important;
}

.hub-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    top: 60px;
    left: 0;
    background: $brand-primary;
    min-width: 200px;
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    display: none;
}

.hub-dropdown ul li {
    float: left;
    width: 100%;
}

.hub-dropdown ul li a {
    float: left;
    width: 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    text-decoration: none!important;
    color: white;
}

.hub-dropdown ul li a:hover {
    background: rgba(0, 0, 0, 0.15);
}

.hub-dropdown a:hover {
    background: #f5f5f5;
}

.hub-dropdown a.open {
    background: #bd2c2c;
    color: white;
}

.hub-dropdown a:first-of-type i {
    font-weight: 900;
    font-size: 16px;
    margin-left: 5px;
}

.hub-dropdown ul li span {
    float: left;
    width: 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    text-decoration: none!important;
    color: #fff;
    padding: 0 25px;
    cursor: default;
    opacity: .5;
}

.mission-item-pinned {
    border: 5px solid #ffbe00;
}

.user-avatar {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.user-avatar.user-avatar-medium {
    width: 200px;
    height: 200px;
}

.mission-item-verified {
    position: absolute;
    top: 25%;
    right: 5%;
    width: 20px;
    height: 20px;
    background: #ffb700;
    border-radius: 100%;
}

.mission-item-verified:after {
    content: "!";
    text-align: center;
    font-size: 14px;
    float: left;
    width: 100%;
    height: 100%;
    font-weight: 900;
    color: black;
}

.mission-verification {
    float: right;
    height: 100%;
    line-height: 60px;
    font-weight: 900;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    padding-left: 20px;
}

.mission-verification a.unverified {
    color: #AAA;
}

.mission-verification a.verified {
    color: #08C;
}
