@import "variables";

* {
    font-family: $font-family-secondary !important;
}

.brand-background {
    background: $brand-primary;
    color: #FFF;
}

.brand-gradient {
    &::after {
        background: #000;
    }
}

.content {
    margin: 150px auto;
}

.darker .navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a {
    color: #333;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    color: #AAA;
}

.form-group {
    margin-bottom: 30px;
}

.bg-info {
    background-color: #bd2c2c;
    padding: 15px 25px;
    border-radius: 2px;
}

.btn-dark {
    &:hover, &:active, &:focus {
        background: transparent !important;
        color: white !important;
        border-color: white !important;
    }
}

.form-control {
    border-radius: 2px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #333;
    padding: 8px 12px;
    max-width: 100%;
    background: transparent;
    color: #aaa;

    &:focus {
        border-color: #AAA;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}


.footer:not(.footer-big) nav > ul li:first-of-type {
    margin-left: 0;
}

.thumbnail {
    border: none;
    padding: 0;
    margin-bottom: 30px;
    border-radius: 2px;
    transition: all .15s ease;

    &:hover {
        transform: scale(1.05, 1.05);
    }

    img {
        border-radius: 2px;
    }
}

.dz-default.dz-message {
    width: 50%;
    height: 250px;
    border: 2px dashed white;
    margin: 0 auto;
    line-height: 250px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        text-decoration: underline;
        opacity: 1;
    }
}

body {
    background: $body-bg;
    color: #FFF;
    overflow-y: scroll;
}

.roster-item {
    float: left;
    width: calc(33% - 40px);
    height: 50px;
    margin-bottom: 10px;
    background: #000;
    padding: 15px;
    box-sizing: content-box;
    margin: 0 10px 10px 0;

    .ri-avatar {
        float: left;
        width: 50px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
    }

    .ri-name {
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        width: calc(100% - 50px);
        text-align: left;
        padding-left: 20px;
        overflow: hidden;
    }
}
