// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

// Typography
$font-family: 'Roboto Condensed', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color-base: #333;
$form-color: #888;

// Body
$body-bg: #100f0f;
$body-bg-light: #F2F2F2;

// Brands
$brand-primary: #bd2c2c;
$brand-dark: #8E2121;
$brand-info: #4084ec;
$brand-success: #2ab27b;
$brand-warning: #ff9d35;
$brand-danger:  #ec3e3e;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}