@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900);
body {
  background: #1B1B1B;
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  color: #444; }

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  background: #BD2C2C;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  z-index: 2; }
  header:hover {
    width: 250px; }
  header .nav {
    padding: 0;
    line-height: 50px; }
    header .nav .nav-link-disabled {
      color: #FFF !important;
      background: transparent !important; }
    header .nav .nav-link {
      float: left;
      width: 100%;
      height: 70px;
      text-align: center;
      line-height: 70px;
      text-decoration: none !important;
      color: #FFF;
      overflow: hidden;
      padding: 0; }
      header .nav .nav-link:hover {
        background: #FFF;
        color: #333; }
      header .nav .nav-link span {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: left;
        padding: 0;
        float: left;
        width: calc(100% - 80px); }
      header .nav .nav-link i {
        float: left;
        width: 80px;
        height: 100%;
        line-height: 70px;
        font-size: 28px; }
    header .nav a {
      float: right;
      color: #222;
      font-weight: 400;
      font-size: 14px;
      color: #EEE;
      padding: 0 10px;
      text-decoration: none !important;
      -webkit-transition: all .15s ease;
      transition: all .15s ease;
      text-transform: uppercase; }
      header .nav a:hover {
        color: #FFF; }

.brand-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 46%;
  background-image: url(../images/logo.png); }

.subnav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  left: 80px;
  background: #8E2121;
  z-index: 1; }
  .subnav a {
    float: left;
    width: 100%;
    height: 70px;
    color: #FFF !important;
    text-align: left;
    line-height: 70px;
    padding: 0 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    -webkit-transition: all .15s ease;
    transition: all .15s ease; }
    .subnav a:hover {
      background: rgba(0, 0, 0, 0.1); }
    .subnav a.active {
      background: rgba(0, 0, 0, 0.1); }

a {
  color: #BD2C2C; }
  a:hover {
    color: #BD2C2C; }
  a:active {
    color: #BD2C2C; }
  a:focus {
    color: #BD2C2C; }
  a:visited {
    color: #BD2C2C; }

footer {
  float: left;
  width: 100%;
  margin: 50px 0; }

.content {
  position: fixed;
  top: 0;
  left: 330px;
  right: 0;
  bottom: 0;
  padding: 35px; }

.jr-list {
  padding: 0;
  margin: 0; }
  .jr-list li {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .jr-list li .jr-item {
      float: left;
      width: 100%;
      text-decoration: none !important;
      color: #FFF !important;
      padding: 25px 0;
      border-bottom: 1px solid #252525;
      -webkit-transition: all .15s ease;
      transition: all .15s ease; }
      .jr-list li .jr-item:hover {
        padding-left: 25px; }
      .jr-list li .jr-item h1 {
        font-size: 22px;
        font-weight: 300;
        margin: 0; }
      .jr-list li .jr-item p {
        color: #CCC;
        font-size: 14px;
        font-weight: 100;
        margin: 0; }

/*# sourceMappingURL=app.css.map */
