// Variables
@import "variables";

body {
    background: $body-bg;
    font-family: $font-family;
    font-size: $font-size-base;
    color: $text-color-base;
}

header {
    height: 50px;
    background: $brand-primary;
    margin-bottom: 30px;

    .nav {
        padding: 0;
        line-height: 50px;

        a {
            float: right;
            color: #222;
            font-weight: 400;
            font-size: 14px;
            color: #EEE;
            padding: 0 10px;
            text-decoration: none !important;
            transition: all .15s ease;
            text-transform: uppercase;

            &:hover {color: #FFF;}
        }
    }
}

a {
    color: $brand-primary;
    &:hover {color: $brand-primary;}
    &:active {color: $brand-primary;}
    &:focus {color: $brand-primary;}
    &:visited {color: $brand-primary;}
}

footer {
    float: left;
    width: 100%;
    margin: 50px 0;
}