@import "variables";

* {
    font-family: $font-family-secondary !important;
}

.brand-background {
    background: $brand-primary;
    color: #FFF;
}

.brand-gradient {
    &::after {
        background: #000;
    }
}

.content {
    margin: 100px auto;
}

.darker .navbar-transparent .navbar-nav > li > a, [class*="navbar-ct"] .navbar-nav > li > a {
    color: #333;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    color: #444;
}

.form-group {
    margin-bottom: 30px;
}

.bg-info {
    background-color: #d9edf7;
    padding: 15px 25px;
    border: 1px solid #8cb2c5;
    box-shadow: 5px 0 0 #8cb2c5 inset;
    border-radius: 2px;
}

.btn-dark {
    &:hover, &:active, &:focus {
        background: #1b1b1b !important;
        color: #FFF !important;
        border-color: #1b1b1b !important;
    }
}

.form-control {
    border-radius: 2px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #DDD;
    padding: 8px 12px;
    max-width: 100%;

    &:focus {
        border-color: #AAA;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}
