// Body
$body-bg: #F5F5F5;

// Brands
$brand-primary: #BD2C2C;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family: 'Coming Soon', cursive;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color-base: #444;
