// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i);

// Typography
$font-family: 'Roboto Condensed', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color-base: #333;

// Body
$body-bg: #1B1B1B;
$body-bg-light: #F2F2F2;

// Brands
// $brand-primary: #BD2C2C;
$brand-primary: #BD2C2C;
$brand-dark: #8E2121;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;
